<html>
<head>
<style>
	html {
	  height: 100%;
	}
	body {
	  min-height: 100%;
	  font: 11px sans-serif;
	}
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
	.dot {
	  stroke: #000;
	}
	.tooltip {
	  position: absolute;
	  width: 200px;
	  height: 28px;
	  pointer-events: none;
	}

	.filter{
		float:left;
		border:1px;
	}
	#tabs {
 		float:left;
 		width: 100%;
	}
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
	<body>
		 <div class="readme">
		Name: <b>Jugu Dannie Sundar</b>  SBU ID: <b>110455279</b>&nbsp;</br/>
		CSE 564 MiniProject 2: Big Data Clustering/Decimation/Visualization and Text Analsysis  <i>
		<br/>Data Sources:</i><a href= "http://seanlahman.com/baseball-archive/statistics/">Baseball Statistics</a>&nbsp;
			                  <a href= "http://www.mpi-sws.org/~cristian/Cornell_Movie-Dialogs_Corpus.html">Cornell Movie Dialogue Corpus</a>
	 	</div>
		<hr/>
		<div id="tabs">
  			<ul>
    			<li id ="t1"><a href="#tabs-1">Cluster Analysis</a></li>
    			<li id ="t2"><a href="#tabs-2">Text Analysis</a></li>
  			</ul>
			<div id = "tabs-1">
				<div class="filter">
			<h4>Clustering</h4>
			<!--<p><button id="generateCluster">Generate</button> K (by elbow method) </p>-->
			<p><input type="number" name="kmeans" min="1" max="20" size="3" value="3"/>Clusters</p>
			<h4>Sampling</h4>
			<p><input type ="radio" name="sampling" checked="checked" value="0">Random</p>
			<p><input type ="radio" name="sampling" value="1">Adaptive</p>
			<h4>Visualization</h4>
			<p><input type ="radio" name="viz" checked="checked" value="0">PCA</p>
			<p><input type ="radio" name="viz" value="1">Euclidean</p>
			<p><input type ="radio" name="viz" value="2">Cosine</p>
			<p><input type ="radio" name="viz" value="3">Correlation</p>
			<p><input type ="radio" name="viz" value="4">IsoMap</p>
			<p><button id="clickme">Visualize</button></p>
		</div>
				<div style="float:left">
				<div class="support">
			</div>
				<div>
				&nbsp;
				<br/><br/><br/>
			</div>
				<div class="visual">

			</div>
		</div>
			</div>
			<div id ="tabs-2">
				<div class="visualT"></div>
			</div>
		</div>
	</body>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
	<script>
	var margin = {top: 20, right: 40, bottom: 30, left: 40},
    width = 1300 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

	function generatecluster()
	{
		d3.select(".visual").html("")
		d3.select(".support").html("<div style='background-color:blue;color:white'>Please wait<div>");
		$.getJSON($SCRIPT_ROOT + '/baseball/batting/generatecluster', {
			clusters: $('input[name="kmeans"]').val(),
			sampling: $('input[name="sampling"]:checked').val(),
			viz: $('input[name="viz"]:checked').val()
		  }, function(d) {
		  	//console.log(d)
		  	createElbowGraph(d.data)
		  });
		  return false;
	}

	function getDataToShow()
	{
		d3.select(".support").html("")
		d3.select(".visual").html("<div style='background-color:blue;color:white'>Please wait<div>");
	 	 var data=[];
		 $.getJSON($SCRIPT_ROOT + '/baseball/batting/visualize', {
			clusters: $('input[name="kmeans"]').val(),
			sampling: $('input[name=sampling]:checked').val(),
			viz: $('input[name=viz]:checked').val()
		  }, function(d) {
		  //console.log(d)
		    if (d.scree.length > 0)
		  		createElbowGraph(d.scree)
		  	createGraph(d.data, ".visual")
		  });
		  return data;
	}

	function analyseText()
	{
		d3.select(".support").html("")
		d3.select(".visualT").html("<div style='background-color:blue;color:white'>Please wait<div>");
	 	 var data=[];
		 $.getJSON($SCRIPT_ROOT + '/textanalysis', {}, function(d) {
		    console.log(d)
		  	createGraph(d.data, ".visualT", true)
		  });
		  return data;
	}
	$('button#clickme').bind('click', getDataToShow);
	//$('button#generateCluster').bind('click', generatecluster);
	$('#t1').bind('click', getDataToShow);
	$('#t2').bind('click', analyseText);
	</script>
	<script>
	$(function() {
    $( "#tabs" ).tabs();
  });
	getDataToShow();

	function createElbowGraph(data)
	{
		d3.select(".support").html('');
		var ewidth = 500
		var eheight = 300
		var x = d3.scale.linear()
              .domain([0, d3.max(data, function(d) { return d.x; })])
              .range([ 0, ewidth ]);

    	var y = d3.scale.linear()
    	      .domain([0, d3.max(data, function(d) { return d.y; })])
    	      .range([ eheight, 0 ]);

    	var chart = d3.select('.support')
		.append('svg:svg')
		.attr('width', ewidth + margin.right + margin.left)
		.attr('height',eheight + margin.top + margin.bottom)
		.attr('class', 'chart')

		var main = chart.append('g')
		.attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')
		.attr('width', ewidth)
		.attr('height', eheight)
		.attr('class', 'main')

		// draw the x axis
		var xAxis = d3.svg.axis()
		.scale(x)
		.orient('bottom');

		main.append('g')
		.attr('transform', 'translate(0,' + eheight + ')')
		.attr('class', 'main axis date')
		.call(xAxis)
		.append("text")
      .attr("class", "label")
      .attr("x", ewidth)
      .attr("y", 10)
      .style("text-anchor", "end")
      .text("Number of components");

		// draw the y axis
		var yAxis = d3.svg.axis()
		.scale(y)
		.orient('left');


		main.append('g')
		.attr('transform', 'translate(0,0)')
		.attr('class', 'main axis date')
		.call(yAxis)
		.append("text")
      	.attr("class", "label")
      	.attr("transform", "rotate(-90)")
      	.attr("y", 6)
      	.attr("dy", ".71em")
      	.style("text-anchor", "end")
      	.text("variance");

		var g = main.append("svg:g");

		g.selectAll(".bar")
     	.data(data)
    	.enter().append("rect")
      	.attr("class", "bar")
      	.attr("x", function(d) { return x(d.x)-25; })
      	.attr("width", 50)
      	.attr("y", function(d) { return y(d.y); })
      	.attr("height", function(d) { return eheight - y(d.y); });

      	g.append("text")
        .attr("x", (ewidth / 2))
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
        .style("text-decoration", "underline")
        .text("Scree Plot");

		/*g.selectAll("scatter-dots")
		  .data(data)
		  .enter().append("svg:circle")
			  .attr("cx", function (d,i) { return x(d.x); } )
			  .attr("cy", function (d) { return y(d.y); } )
			  .attr("r", 8);*/
	}

	function createGraph(data, eclass, text)
	{
		var graphtitle = 'PCA plot'
		var sel = $('input[name="viz"]:checked').val()
		if (sel == 1)
			graphtitle = 'MDS-Euclidean'
		else if (sel == 2)
			graphtitle = 'MDS-Cosine'
		else if (sel == 3)
			graphtitle = 'MDS-Correlation'
		else if (sel == 4)
			graphtitle = 'Isomap'
		if (text)
			graphtitle = 'Text Analysis - Words in movie dialogues and Genre plot'
		d3.select(eclass).html('');
		var svg = d3.select(eclass).append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height + margin.top + margin.bottom)
		.append("g")
		.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
	/*
	 * value accessor - returns the value to encode for a given data object.
	 * scale - maps value to a visual display encoding, such as a pixel position.
	 * map function - maps from data value to display value
	 * axis - sets up axis
	 */
	// setup x
	var xValue = function(d) { return d.xvalue;}, // data -> value
    xScale = d3.scale.linear().range([0, width]), // value -> display
    xMap = function(d) { return xScale(xValue(d));}, // data -> display
    xAxis = d3.svg.axis().scale(xScale).orient("bottom");

	// setup y
	var yValue = function(d) { return d.yvalue;}, // data -> value
    yScale = d3.scale.linear().range([height, 0]), // value -> display
    yMap = function(d) { return yScale(yValue(d));}, // data -> display
    yAxis = d3.svg.axis().scale(yScale).orient("left");

	// setup fill color
	var cValue = function(d) { return d.cluster;},
    color = d3.scale.category10();

	// add the tooltip area to the webpage
	var tooltip = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

	// change string (from CSV) into number format
 	data.forEach(function(d) {
    d.xvalue = +d.xvalue;
    d.yvalue = +d.yvalue;
    console.log(d);
  });

  // don't want dots overlapping axis, so add in buffer to data domain
  xScale.domain([d3.min(data, xValue) - 1, d3.max(data, xValue) + 1]);
  yScale.domain([d3.min(data, yValue) - 1, d3.max(data, yValue) + 1]);

  // x-axis
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .append("text")
      .attr("class", "label")
      .attr("x", width)
      .attr("y", -6)
      .style("text-anchor", "end")
      .text("Component 1");

  // y-axis
  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("class", "label")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Component 2");

  // draw dots
  svg.selectAll(".dot")
      .data(data)
    .enter().append("circle")
      .attr("class", "dot")
      .attr("r", 3.5)
      .attr("cx", xMap)
      .attr("cy", yMap)
      .style("fill", function(d) { return color(cValue(d));})
      .on("mouseover", function(d) {
          tooltip.transition()
               .duration(200)
               .style("opacity", .9);
          tooltip.html(d.pointname)
          		.style("background-color",'yellow')
               .style("left", (d3.event.pageX + 5) + "px")
               .style("top", (d3.event.pageY - 28) + "px");
      })
      .on("mouseout", function(d) {
          tooltip.transition()
               .duration(500)
               .style("opacity", 0);
      });

  // draw legend
  var legend = svg.selectAll(".legend")
      .data(color.domain())
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  // draw legend colored rectangles
  legend.append("rect")
      .attr("x", width - 18)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  // draw legend text
  legend.append("text")
      .attr("x", width - 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d;})

  svg.append("text")
        .attr("x", (width / 2))
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
        .style("text-decoration", "underline")
        .text(graphtitle);
}

</script>
</html>